{% extends "layout.html" %}
{% block content %}
<link href="../static/css/about-style.css" rel="stylesheet">
<div class="col-md-9 layout">
    <div class="container">
        <h2>Who we are?</h2>
        <!--<p>We are students of KPI. </p>-->
        <img src="/static/images/about-logo1.png">
        <ul class="out-sites">
            <li>
                <a href="http://vk.com/aki.style"><figure><p><img src="/static/images/akimov.png" alt="" /></p>
    <figcaption>Akimov Vadim</figcaption></figure></a>
            </li>
            <li>
                <a href="http://vk.com/screadrator"><figure><p><img src="/static/images/sevidov.png" alt="" /></p>
    <figcaption>Sevidov Pavlo</figcaption></figure></a>
            </li>
            <li>
                <a href="http://vk.com/id80132381"><figure><p><img src="/static/images/sutula.png" alt="" /></p>
    <figcaption>Sutula Olexandr</figcaption></figure></a>
            </li>
    </div>
</div>
{% endblock %}