{% extends "layout.html" %}
{% block content %}
<link href="../static/css/add-style.css" rel="stylesheet">
<div class="col-md-9 layout">
    <div class="container">
        <h2>Add new item:</h2>

        <form action="/add/{{id}}" method="post">
            {{form.hidden_tag()}}
            <p>
                Name: <br/>
                {{form.name(class_="form-control")}}
            </p>
            <p>
                Type: <br/>
                {{form.type(class_="form-control")}}
            </p>
            <p>
                Description: <br/>
                {{form.description(class_="form-control")}}
            </p>
            <p>
                Image: <br/>
                {{form.url(class_="form-control")}}
            </p>
            <p>
                Address: <br/>
                {{form.address(class_="form-control")}}
            </p>
            <input class="btn btn-success" type="submit"/>
        </form>
      </div>
</div>
{% endblock %}