{% extends "layout.html" %}
{% block content %}
<link href="../static/css/add-style.css" rel="stylesheet">
<div class="col-md-9 layout">
    <div class="container">
        <h2>Add new item:</h2>

        <form action="/add/{{id}}" method="post">
            {{form.hidden_tag()}}
            <p>
                Name: <br/>
                {{form.name}}
            </p>
            <p>
                Type: <br/>
                {{form.type}}
            </p>
            <p>
                Description: <br/>
                {{form.description}}
            </p>
            <p>
                Image: <br/>
                {{form.url}}
            </p>
            <p>
                Address: <br/>
                {{form.address}}
            </p>
            <input type="submit"/>
        </form>
      </div>
</div>
{% endblock %}