{% extends "layout.html" %}
{% block content %}
<link href="../static/css/add-style.css" rel="stylesheet">
<div class="col-md-9 layout">
    <div class="container">
        <h2>Add new item:</h2>
        <form role="form">
            <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <input type="text" class="form-control" id="type">
            </div>
            <div class="form-group">
                <label for="descr">Description:</label>
                <input type="text" class="form-control" id="descr">
            </div>
            <div class="form-group">
                <label for="img-url">Image:</label>
                <input type="text" class="form-control" id="img-url">
            </div>
            <div class="form-group">
                <label>Map:</label>
                <div class="map-canvas"></div>
            </div>
            <div class="form-group">
                <a href="index" class="btn btn-success">Add type</a>
            </div>
        </form>
      </div>
</div>
{% endblock %}