{% extends "layout.html" %}
{% block content %}
<link href="../static/css/item-style.css" rel="stylesheet">

<div class="col-md-9 layout">
    <div class="thumbnail">
        <img class="img-responsive" src="{{item.url}}" alt="">
        <div class="caption-full">
            <h4>{{item.name}}</h4>
            <p>{{item.description}}</p>
        </div>
        <div class="ratings">
            <p class="pull-right">{{votes}} votes</p>
            {% if g.user.is_authenticated() %}
            {% if votable %}
            <form action="../item/{{item.id}}" method="post">
                {{ form.hidden_tag() }}
                {{ form.rating }}
                <input type="submit"/>
            </form>
            {% endif %}
            {% endif %}
            <p>
                {% for star in range(stars) %}
                <span class="glyphicon glyphicon-star"></span>
                {% endfor %}
                {% for star in range(5-stars) %}
                <span class="glyphicon glyphicon-star-empty"></span>
                {% endfor %}
            </p>
        </div>
        <iframe
            width=100%
            height="400"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCxNpOsxTXjst4JUO3nugNaYCotumk0sog
            &q={{item.map}}">
            </iframe>
    </div>

    <div class="well">

        <div class="text-right">
            <a href="../add.html" class="btn btn-success">Add type</a>
            <a href="../add.html" class="btn btn-success">Add subtype</a>
        </div>

        <hr>
        {% for child in children %}
        <div class="row">
            <div class="col-md-12">
                <span class="pull-right">{{child.votes}} votes</span>
                <a href="../item/{{child.category.id}}">{{child.category.name}}</a>
                <p>
                    {% for star in range(child.stars) %}
                    <span class="glyphicon glyphicon-star"></span>
                    {% endfor %}
                    {% for star in range(5-child.stars) %}
                    <span class="glyphicon glyphicon-star-empty"></span>
                    {% endfor %}
                </p>
            </div>
        </div>

        <hr>

        {% endfor %}



    </div>

</div>

{% endblock %}